{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7", "IE >= 10", "android > 4.3", "ios >= 9"]
            },
            "debug": false,
            "useBuiltIns": "usage"
        }]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", {
            "hlepers": false
        }], "@babel/plugin-syntax-dynamic-import"
    ]
}