.app {
    .mu-item, .mu-tr, .mu-raised-button {
        color: #68646d;
    }
    .mu-item-left {
        left: 40px;
    }
    .mu-item-right {
        right: 30px;
    }
    .mu-item.show-left {
        padding-left: 90px;
    }
    .mu-item.show-right {
        padding-right: 80px;
    }
}

.mu-linear-progress {
    z-index: 5;
}

.mu-dialog-wrapper .mu-date-picker-dialog.mu-dialog {
    width: 310px;
}

.mu-dialog-wrapper .mu-time-display-time {
    font-size: 16px;
    span {
        font-size: 48px;
    }
}

.mu-table {
    .mu-th {
        padding-left: 0;
        white-space: normal;
        text-overflow: initial;
    }
    
    .mu-td {
        padding-left: 0;
        white-space: normal;
        text-overflow: initial;
    }
}
