.app {
    .mu-item, .mu-tr, .mu-raised-button {
        color: #68646d;
    }
    .mu-item-left {
        left: 40px;
    }
    .mu-item-right {
        right: 30px;
    }
    .mu-item.show-left {
        padding-left: 90px;
    }
    .mu-item.show-right {
        padding-right: 80px;
    }
    .mu-linear-progress-indeterminate {
        background-color: #ea8783;
    }
}

.mu-dialog-wrapper .mu-date-picker-dialog.mu-dialog {
    width: 310px;
}

.mu-dialog-wrapper .mu-time-display-time {
    font-size: 16px;
    span {
        font-size: 48px;
    }
}

.mu-raised-button {
    .icon_raised_button {
        margin-left: 10px;
    }
    .mu-raised-button-label {
        padding-left: 6px;
    }
}